@import "./../../../styles/variables";

.cf-card-list {
  height: calc(100vh - #{$headerSize} - #{$footerSize});
  width: 100%;
}

.cf-card-list .cdk-virtual-scroll-content-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 40px;
  padding: 20px;
}
