@import "./../../../styles/breakpoints.scss";
@import "./../../../styles/colors";

.cf-navigation {
  // make display horizontal
  @media #{$break-1}, #{$break-2} {
    display: flex;
  }
  @media #{$break-3} {
    padding: 10px 0;
  }
}

.cf-navigation--item {
  background-color: $color-base;
  text-decoration: none;
  color: $color-lightest;
  padding: 20px 10px;
  margin: 5px 0;
  display: block;
  @media #{$break-1}, #{$break-2} {
    text-align: center;
    width: 100%;
  }

  &:hover {
    background-color: $color-darker;
  }
}
