@import "./../styles/variables";

.cf {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: $headerSize 1fr $footerSize;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    height: 100%;
}
.cf-header {
    grid-area: header;
}

.cf-content {
    display: grid;
    grid-area: content;
    grid-row-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    overflow: auto;
    pading: 20px;
}

.cf-sidebar {
    grid-area: sidebar;
}

.cf-footer {
    grid-area: footer;
}

.cf-card {
    border: 1px solid;
    height: 300px;
    justify-self: center;
    padding: 10px;
    width: 200px;
}
