<div class="cf-card">
  <div class="cf-card__head">
    <button class="cf-card_button cf-card_button--like">{{cat.like}}</button>
    <div class="cf_card_name">{{cat.name}}</div>
    <button class="cf-card_button cf_card_button--delete"></button>
  </div>
  <div class="cf-card__photo-container">
    <img [src]="cat.imgUrl" alt="" class="cf-card__photo">
  </div>
  <div class="cf-card__abstract">
    <div class="cf-card__breed">{{cat.breed}}</div>
    <div class="cf-card__gender-icon">{{cat.gender}}</div>
    <div class="cf-card__label">Age: </div>
    <div class="cf-card__value">{{cat.age}}mo</div>
    <div class="cf-card__label">Coat: </div>
    <div class="cf-card__value">{{cat.coat}}</div>
  </div>
</div>
