@import "colors";

.cf {
  font-family: sans-serif;
}

.cf-header {
  align-items: center;
  background-color: $color-darker;
  color: $color-lightest;
  display: flex;
  font-size: 36px;
  letter-spacing: .1em;
  padding: 0 20px;
}

.cf-sidebar {
  background-color: $color-lighter;
  padding: 20px;
}

.cf-footer {
  background-color: $color-darkest;
  color: $color-lightest;
  padding: 5px 20px;
}

.cf-content {
  background-color: $color-lightest;
}

.cf-card {
  border-color: $color-base;
}
